.weather-list {
  margin-top: 2rem;
}

.weather-list__btn {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  transition: 0.2 all;
  box-shadow: 0 0 5px #000;
  display: block;
  margin-right: 1rem;
  margin-left: auto;
}

.btn-add {
  background: #5767aa;
  color: #fff;
}

.btn-add:hover {
  background: #576ae2;
  box-shadow: 0 0 5px #000;
}

.weather-list__container {
  overflow-x: auto;
}

.weather-list__table {
  margin-top: 2rem;
  background: #5767aa;
  color: #fff;
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid purple;
}

.weather-list__table thead th:nth-child(1) {
  width: 30%;
}

.weather-list__table thead th:nth-child(2) {
  width: 10%;
}

.weather-list__table thead th:nth-child(3) {
  width: 30%;
}

.weather-list__table thead th:nth-child(4) {
  width: 10%;
}

.weather-list__table td,
.weather-list__table th {
  padding: 1rem;
  border: 1px solid purple;
}

/*@media only screen and (max-width: 1024px) {
  .weather-list__table thead th:nth-child(1) {
    width: 100%;
  }

  .weather-list__table thead th:nth-child(2) {
    width: 100%;
  }

  .weather-list__table thead th:nth-child(3) {
    width: 100%;
  }

  .weather-list__table thead th:nth-child(4) {
    width: 100%;
  }
}
*/
